<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a routerLink="empleados" routerLinkActive="active" class="nav-link">Lista De Empleados</a>
        </li>
        <li class="nav-item">
            <a routerLink="crear-empleado" routerLinkActive="active" class="nav-link">Crear Empleado</a>
        </li>
    </ul>

</nav>
<h1 class ="text-center"> {{title}} </h1>
<div class = "container">
    <router-outlet> </router-outlet>
</div>

